/* color palette - http://www.colourlovers.com/palette/3509115/Circus_on_the_Moon */
/*                 http://www.colourlovers.com/lover/shall314                     */

.gray-deep-blue {
  background-color: #334A4E;
}

.toni-europa {
  background-color: #618162;
}

.ground-black-pepper {
  background-color: #8E8C79;
}

.seahorse-circus {
  background-color: #81616F;
}

.hide-me {
  background-color: #413138;
}

/* color palette - http://www.colourlovers.com/palette/1930/cheer_up_emo_kid      */
/*                 http://www.colourlovers.com/lover/electrikmonk                 */

.mighty-slate {
  background-color: #556270;
}

.pacifica {
  background-color: #4ECDC4;
}

.apple-chic {
  background-color: #C7F464;
}

.cheery-pink {
  background-color: #FF6B6B;
}

.grandmas-pillow {
  background-color: #C44D58;
}